abstract class Secret {
  static const twitterApiKey = '[SECRET_TWITTER_API_KEY]';
  static const twitterApiKeySecret = '[SECRET_TWITTER_API_KEY_SECRET]';
  static const iOSRevenueCatPublicAPIKey = "[IOS_REVENUE_CAT_PUBLIC_API_KEY]";
  static const androidRevenueCatPublicAPIKey = "[ANDROID_REVENUE_CAT_PUBLIC_API_KEY]";
}
