abstract class TwitterAPISecret {
  static const apiKey = '[SECRET_TWITTER_API_KEY]';
  static const apiKeySecret = '[SECRET_TWITTER_API_KEY_SECRET]';
  static const iOSRevenueCatPublicAPIKey = "[IOS_REVENUE_CAT_PUBLIC_API_KEY]";
  static const androidRevenueCatPublicAPIKey = "[ANDROID_REVENUE_CAT_PUBLIC_API_KEY]";
}
